.timer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    position: relative;
}

.media-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}